body {
    padding-top: 200px; /* Ajustar según la altura de tu navbar + barra de búsqueda */
}


/* Navbar personalizado */
.navbar-personalizado {
    background-color: #a7d38e;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 1px solid #000;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    z-index: 9999;
}


.menu-nav{
    background-color: #a7d38e;
}

/* Barra de búsqueda integrada */
.barra-busqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    padding: 8px 15px;
}

.barra-busqueda input {
    width: 80%;
    max-width: 600px;
    padding: 10px 15px;
    border-radius: 25px;
    border: 1px solid #ddd;
    font-size: 0.95rem;
}

.barra-busqueda button {
    margin-left: -40px;
    border: none;
    background: none;
    color: #333;
    font-size: 1rem;
    cursor: pointer;
}

/* Mantener siempre a la vista */
.navbar-personalizado {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}


.logo-nav{
    max-width: 150px;
    margin: 0px;
}


/* Móvil: centrar logo */
@media (max-width: 767.98px) {
    .navbar-brand {
        margin-left: 33vw !important;
        margin-right: auto !important;
        display: block;
        text-align: center;
    }
    .navbar-brand img.logo-nav {
        display: inline-block;
        margin: 0 auto;
    }

}


.carrito-btn {
  display: none;
  position: fixed;       /* lo hace fijo en la pantalla */
  bottom: 60px;          /* distancia desde abajo */
  right: 30px;           /* distancia desde la derecha */
  z-index: 1000;         /* para que esté siempre arriba de otros elementos */
  display: flex;         /* centra el icono */
  align-items: center;
  justify-content: center;
  scale: 1.5;
}  

.carrito-btn:hover {
  transform: scale(1.1);
  transition: 0.2s;
}


    


